body {
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 500px;
  transition: 0.5s ease;
  position: absolute;
  top: 60%;
  /* animation: loop 7s infinite linear; */
}

#image {
  padding: 25px;
  border: 1px solid gray;
  border-radius: 50%;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small {
  width: 20%;
  margin: 20px;
}

.sm1 {
  position: absolute;
  top: 5%;
  left: 0;
}

.sm2 {
  position: absolute;
  top: 60%;
  left: 70%;
}
.sm3 {
  position: absolute;
  top: 60%;
  left: 0;
}
.sm4 {
  position: absolute;
  top: 5%;
  left: 70%;
}

#text0 {
  position: absolute;
  top: 60%;
  left: 25%;
  rotate: 210deg;
}

#text1 {
  position: absolute;
  top: 55%;
  right: 25%;
}

#text2 {
  position: absolute;
  top: 30%;
  left: 30%;
}
